<h2 *ngIf="showCategoryHeader">Category: {{ categoryName }}</h2>
<h2 *ngIf="showEffectHeader">Effect: {{ effectName }}</h2>
<h2 *ngIf="showSearchHeader">Search: {{ search }}</h2>
<h2 *ngIf="showAllHeader">All Merchandise!</h2>
<div class="spinner-border" *ngIf="loading; else entries"></div>
<ng-template #entries
  ><h5>Showing {{ merchandises?.length }} out of {{ totalResults }} Entries</h5></ng-template
>

<ngb-pagination
  [collectionSize]="totalResults"
  [(page)]="pageNumber"
  [boundaryLinks]="false"
  [maxSize]="4"
  [pageSize]="pageSize"
  (pageChange)="onPageChange()"
></ngb-pagination>
<br />
<hr />
<br />
<div class="row" *ngIf="merchandises != null; else placeholder">
  <zas-merchandise-summary [merchandise]="merchandise" *ngFor="let merchandise of merchandises">
  </zas-merchandise-summary>
</div>
<ng-template #placeholder>
  <div class="row">
    <zas-merchandise-summary-placeholder *ngFor="let i of [1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]">
    </zas-merchandise-summary-placeholder>
  </div>
</ng-template>
<br />
<hr />
<br />
<div class="row">
  <div class="ml-3">
    <ngb-pagination
      [collectionSize]="totalResults"
      [(page)]="pageNumber"
      [boundaryLinks]="false"
      [maxSize]="4"
      [pageSize]="pageSize"
      (pageChange)="onPageChange()"
      class=""
    ></ngb-pagination>
  </div>
  <div class="col-md-2 ml-auto">
    <span>Items per Page: </span>
    <select class="custom-select" (change)="onPageChange()" [(ngModel)]="pageSize">
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="60">60</option>
    </select>
  </div>
  <div class="col-md-2 ml-3">
    <span>Sort Items: </span>
    <select class="custom-select" (change)="onPageChange()" [(ngModel)]="sortType">
      <option value="NameAsc">Name, A to Z</option>
      <option value="NameDesc">Name, Z to A</option>
      <option value="PriceAsc">Price, Low to High</option>
      <option value="PriceDesc">Price, High to Low</option>
      <option value="StockDesc">Stock, High to Low</option>
      <option value="StockAsc">Stock, Low to High</option>
    </select>
  </div>
</div>
