<h2>List of Alchemical Effects:</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Effect</th>
      <th scope="col">Description</th>
      <th scope="col">Benefficial Effect</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let effect of effects; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <a href="/merchandise/list" routerLink="/merchandise/list" [queryParams]="{ effectName: effect?.name }">
          {{ effect.name }}</a
        >
      </td>

      <td>{{ effect?.description }}</td>
      <td>{{ effect?.positive }}</td>
    </tr>
  </tbody>
</table>
