:host {
  display: contents;
}

.effect-cell {
  width: 45%;
  display: inline-block;
}

.btn-hidden {
  visibility: hidden;
}

.add-to-cart {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0.8em;
}

.cart-button {
  margin-left: auto;
  margin-right: auto;
}

.merch-summ:hover .btn-hidden {
  visibility: visible;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
