<div class="col-12 col-sm-12 col-lg-4 col-md-4 thumbnail merch-summ">
  <img [src]="merchandise?.imageThumbnailUrl" alt="" class="img-fluid" loading="lazy" />
  <div class="caption">
    <h3 class="pull-right">
      <img class="septim" src="/assets/GoldIcon.webp" alt="" height="0.75em" width="0.75em" />{{ merchandise?.value }}
    </h3>
    <h3>
      <a
        href="/merchandise/details/{{ merchandise?.merchandiseId }}"
        routerLink="/merchandise/details/{{ merchandise?.merchandiseId }}"
        >{{ merchandise?.name }}</a
      >
    </h3>
    <p hidden="true">{{ merchandise?.shortDescription }}</p>
    <p>
      <span class="text-success" *ngIf="merchandise?.amountInStock > 0; else outOfStock"
        >{{ merchandise?.amountInStock }} In Stock</span
      >
      <ng-template #outOfStock><span class="text-warning">Out of Stock</span></ng-template>
    </p>
    <h3>Effects:</h3>
    <div>
      <a
        class="effect-cell"
        href="/merchandise/list"
        routerLink="/merchandise/list"
        [queryParams]="{ effectName: merchandise?.primaryEffect?.name }"
        >{{ merchandise?.primaryEffect?.name }}</a
      >
      <span>&nbsp;&nbsp;&nbsp;</span>
      <a
        class="effect-cell"
        href="/merchandise/list"
        routerLink="/merchandise/list"
        [queryParams]="{ effectName: merchandise?.secondaryEffect?.name }"
        >{{ merchandise?.secondaryEffect?.name }}</a
      >
    </div>
    <div>
      <a
        class="effect-cell"
        href="/merchandise/list"
        routerLink="/merchandise/list"
        [queryParams]="{ effectName: merchandise?.tertiaryEffect?.name }"
        >{{ merchandise?.tertiaryEffect?.name }}</a
      >
      <span>&nbsp;&nbsp;&nbsp;</span>
      <a
        class="effect-cell"
        href="/merchandise/list"
        routerLink="/merchandise/list"
        [queryParams]="{ effectName: merchandise?.quaternaryEffect?.name }"
        >{{ merchandise?.quaternaryEffect?.name }}</a
      >
    </div>
  </div>
  <div class="add-to-cart">
    <p class="button">
      <button
        class="btn btn-success btn-hidden cart-button col-md-6"
        (click)="onAddToCartClick()"
        [disabled]="addingInProgress"
      >
        <div class="spinner-border spinner-border-sm" *ngIf="addingInProgress"></div>
        Add to Cart
      </button>
    </p>
  </div>
</div>
