<zas-carousel></zas-carousel>

<br />
<h2>Preferred alchemy ingredients of the week</h2>
<h5>Clients preferences - just for you!</h5>
<br />
<p>(<a href="/merchandise/list" routerLink="/merchandise/list">View All Merchandise here</a>)</p>
<br />

<div class="row" *ngIf="merchandises != null; else placeholder">
  <zas-preferred-merchandise-summary
    [merchandise]="merchandise"
    *ngFor="let merchandise of merchandises"
  ></zas-preferred-merchandise-summary>
</div>
<ng-template #placeholder>
  <div class="row">
    <zas-merchandise-summary-placeholder *ngFor="let i of [1, 2, 3, 4, 5, 6]"></zas-merchandise-summary-placeholder>
  </div>
</ng-template>
