<div class="container placeholder">
  <div class="">
    <div class="card row">
      <div class="text-center view overlay hm-white-slight">
        <div class="image"></div>
        <a href="#">
          <div class="mask waves-effect waves-light"></div>
        </a>
      </div>
      <div class="card-block mt-3 p-3">
        <!--Title-->
        <h4 class="text line third"></h4>
        <div class="empty-line"></div>
        <!--Text-->
        <p class="card-text">
          <span class="text line"></span>
          <span class="text line"></span>
        </p>
        <div class="row">
          <div class="btn btn-group ml-auto">
            <div class="text button third"></div>
            <div class="text button third"></div>
          </div>
          <h4 class="pull-right ml-3 mr-3 text eighth"></h4>
        </div>
      </div>
    </div>
  </div>
</div>
