<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li>
              <a
                href="/merchandise/list?categoryName=Ingredients"
                [routerLink]="['/about']"
                routerLinkActive="router-link-active"
                >Ingredients</a
              >
            </li>
            <li>
              <a
                href="/merchandise/list?categoryName=Poisons"
                [routerLink]="['/about']"
                routerLinkActive="router-link-active"
                >Poisons</a
              >
            </li>
            <li>
              <a
                href="/merchandise/list?categoryName=Potions"
                [routerLink]="['/about']"
                routerLinkActive="router-link-active"
                >Potions</a
              >
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li>
              <a href="/about" [routerLink]="['/about']" routerLinkActive="router-link-active">Zhininda's Shop</a>
            </li>
            <li><a href="https://asp.net/">ASP.NET Core</a></li>
            <li><a href="https://angular.io/">Angular</a></li>
            <li><a href="https://axmouth.dev/" target="_blank">Me</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Zhininda's Alchemy Shop</h3>
          <p>This one will make sure to make the best alchemy products available to you, for some coin.</p>
        </div>
      </div>
      <p class="copyright">Georgios Nikolopoulos © 2019</p>
    </div>
  </footer>
</div>
