<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" href="/account/profile" routerLink="/account/profile"
        >My Profile</a
      >
      <a class="list-group-item list-group-item-action" href="/account/settings" routerLink="/account/settings"
        >Account Settings</a
      >
      <a
        class="list-group-item list-group-item-action active"
        href="/account/orders/list"
        routerLink="/account/orders/list"
        >My Orders</a
      >
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Order {{ orderId }}</h4>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="/account/orders/list" routerLink="/account/orders/list">< Back to your Orders List</a>
            <hr />

            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Selected amount</th>
                  <th>Merchandise</th>
                  <th class="text-right">Price</th>
                  <th class="text-right">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let line of order?.orderLines">
                  <td class="text-center">{{ line?.amount }}</td>
                  <td class="text-left">
                    <a
                      href="/merchandise/details/{{ line?.merchandise?.merchandiseId }}"
                      routerLink="/merchandise/details/{{ line?.merchandise?.merchandiseId }}"
                      >{{ line.merchandise.name }}</a
                    >
                  </td>
                  <td class="text-right">{{ line?.value }}</td>
                  <td class="text-right">{{ line?.amount * line?.merchandise?.value }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3" class="text-right">Total:</td>
                  <td class="text-right">{{ order?.orderTotal }}</td>
                </tr>
              </tfoot>
            </table>

            <br />

            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Order Id:</b><span class="pull-right">{{ order?.orderId }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Ordered at:</b><span class="pull-right">{{ order?.orderPlaced | date: 'medium' }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Ordered Items:</b><span class="pull-right">{{ order?.orderLines.length }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Address:</b><span class="pull-right">{{ order?.addressLine1 }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>City:</b><span class="pull-right">{{ order?.city }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Zipcode:</b><span class="pull-right">{{ order?.zipCode }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Country:</b><span class="pull-right">{{ order?.country }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>State:</b><span class="pull-right">{{ order?.state }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Email:</b><span class="pull-right">{{ order?.email }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>First Name:</b><span class="pull-right">{{ order?.firstName }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Last Name:</b><span class="pull-right">{{ order?.lastName }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Phone Number:</b><span class="pull-right">{{ order?.phoneNumber }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Subtotal:</b><span>{{ order?.orderTotal }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
