<h1>Welcome to ASP.NET Core!</h1>
<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>What is ASP.NET Core?</h2>
      <p>
        ASP.NET Core is a lean and composable framework for building web and cloud applications. ASP.NET Core is fully
        open source and available on GitHub. ASP.NET Core is available on Windows, Mac, and Linux.
      </p>
    </div>

    <br />
    <div class="col-md-12">
      <h2>Why build ASP.NET Core?</h2>
      <p>
        The first preview release of ASP.NET came out almost 15 years ago as part of the .NET Framework. Since then
        millions of developers have used it to build and run great web apps, and over the years we have added and
        evolved many capabilities to it. ASP.NET Core has a number of architectural changes that result in a much leaner
        and modular framework. ASP.NET Core is no longer based on System.Web.dll. It is based on a set of granular and
        well factored NuGet packages. This allows you to optimize your app to include just the NuGet packages you need.
        The benefits of a smaller app surface area include tighter security, reduced servicing, improved performance,
        and decreased costs in a pay-for-what-you-use model.
      </p>
    </div>
  </div>
</div>
