<div class="login-form text-center">
  <h2>Please log in before placing an order.</h2>
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="form-horizontal text-left" role="form">
      <h4>Enter your details below</h4>
      <hr />
      <div class="form-group">
        <label class="col-md-6 control-label">Username/Email</label>
        <div class="col-md-10">
          <input name="username" formControlName="username" class="form-control" />
          <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-6 control-label">Password</label>
        <div class="col-md-10">
          <input name="password" formControlName="password" class="form-control" type="password" />
          <span asp-validation-for="Password" class="text-danger"></span>
        </div>
      </div>

      <div class="form-group row" *ngIf="false">
        <div class="col-md-6 offset-md-1">
          <div class="checkbox">
            <label> <input type="checkbox" name="rememberMe" formControlName="rememberMe" /> Remember Me </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="">
          <button
            type="submit"
            class="btn btn-success col-md-8 offset-md-1"
            [disabled]="!loginForm.valid || loginInProgress"
          >
            <div class="spinner-border" *ngIf="loginInProgress"></div>
            Log in
          </button>
        </div>
      </div>
      <br />
      <div class="col-md-8 offset-md-1">
        <a href="/request-password-reset" routerLink="/request-password-reset" class="btn btn-link">
          Forgot Your Password?
        </a>
        <a href="/auth/register" routerLink="/auth/register" class="btn btn-link">
          Need a new account? Register here
        </a>
      </div>
    </form>
  </div>
</div>
