@using Zhinindas_Alchemy_Shop.EmailTemplates.ViewModels
@model PasswordResetViewModel

@{
    Layout = "_EmailLayoutHtml";
    ViewContext.ViewData["EmailTitle"] = "Password Reset Requested";
}
<p>Greetings @Model.UserName,</p>
<p>
    We received a request to reset your password.
</p>
<p>
    Click on the link bellow to set a new password for your account.
</p>
<p>
    If you did not make this request, you can ignore this message.
</p>

@await Html.PartialAsync("_EmailButton", new EmailButtonViewModel("Reset your password", Model.ResetLink))

<br />
<br />
<br />
<p>
    - Zhininda's Alchemy Shop Team
</p>